@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: ELNATH;
	src: local('ELNATH'),
		url('../node_modules/capstone-ds-rn/dist/assets/fonts/ELNATH.ttf')
			format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.subtitle-1 {
	font-family: 'ELNATH';
	font-size: 12px;
	line-height: 16px;
}
.body-1 {
	font-family: 'Maven Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
}
.heading-3 {
	font-family: 'ELNATH';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
.heading-2 {
	font-family: 'ELNATH';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}
